{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="令和類似度チェッカー | 画像をアップすると「令和」との類似度を判定">
    <meta property="og:title" content="令和類似度チェッカー | 画像をアップすると「令和」との類似度を判定">
    <meta property="og:image" content="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1557992706951269.jpg">
    <meta property="fb:app_id" content="1305829376188519">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aidemy_net">
    <meta name="twitter:title" content="令和類似度チェッカー | 画像をアップすると「令和」との類似度を判定">
    <meta name="twitter:description" content="令和類似度チェッカー | 画像をアップすると「令和」との類似度を判定">
    <meta name="twitter:image" content="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1557992706951269.jpg">
    <meta property="og:image" content="https://aidemyexstorage.blob.core.windows.net/aidemycontents/1557992706951269.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'reiwa_app/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>令和類似度チェッカー | Aidemy</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="../../static/reiwa_app/assets/logo.png" width="112" height="28">
            </a>
        </div>
    </nav>
    {% block content %}
        {{ content }}
    {% endblock %}
</body>
</html>