<!-- base.html内に展開する -->
{% extends "reiwa_app/base.html" %}
<!-- CSSを読み込む -->
{% load static %}
{% block content %}
<section class="hero is-medium">
    <div class="hero-body">
        <b class="hero-heading">令和類似度チェッカー</b>
        <div class="description">
            <p>「令和おじさん」にどれだけ似せられるかな？<br>
                類似度に応じて<b>Aidemyプレミアムプラン割引クーポン</b>を発行！<br>
                0〜40% ¥5,000引き<br>
                41〜60% ¥10,000引き<br>
                61〜80% ¥20,000引き<br>
                81〜99% ¥25,000引き<br>
                100%  ¥30,000引き<br>
                キャンペーン期間5/1~5/14<br>
                割引有効期限は5/31まで</p>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div class="up-form">
                {% csrf_token %}
                {{ form.as_p }}
                {{ path }}
            </div>
            <button class="upload-button" type="submit">類似度チェック</button>
        </form>
    </div>
</section>
    
{% endblock content %}